body { 
	background-color: ;
	color: ;
	font-family: ;
	font-size: ;
	text-align: ;
}
h1 {
	font-family:; 
	font-size:;
}
nav {
	background-color: #aaaaaa;
	font-family: Arial; sans-serif; 

}
#header
#Navigation

margin
border
padding
float: 
clearfix