* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #F0FFFF;
	color: black;
	font-family: futura, arial, sans-serif;
	font-size:16px;
	text-align: center;
	padding:0, .2em;
}

section {
	border:2px solid #fff;
	padding:5em 0 5em 0;
}
h1 {
	font-family:'Pinyon Script', cursive;
	font-size: 4em;

	font-family: "champignon", serif;
	src: url();
	font-weight: normal;
}
nav {
	background-color:#F0F8FF;
	font-family: Futura; sans-serif; 
	font-size: 1em;
	float: right;
	display: block;
	margin: 1em;
	padding:.2em;
	border: solid 1px black;
}
a {
	display:inline: block;
	float: center;
	
}
ul {
	list-style-type: none;
	text-align: center;
	float: center;
	padding: 2%;
	margin: 2%;
}
li {
	float:center;
	text-align: center;
	padding: 2%;
	margin: 2%;
}
a{
	color:black;
	text-decoration: none;
	display: block;
	padding: 2%;
}

#splash {
	display: block;
	width:100%;
	float: center;
}
#Cards img {
	display: block;
	background-color:#F0F8FF;
	width:25%;
	padding: 2%;
	margin: 2%;
	border: solid 1px black;
	float:left;
}
#logo img {
	width:25%;
	padding: 2%;
	margin: 2%;
}
#slogan {
	font-size: 1em;
	color:;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}


@media only screen and (min-device-width: 320px) and (max-device-height: 480px){
	body {
		font-size: .5em;
		img: 15%;

		}
	

@media only screen and (max-width: 480px) {
body {
		font-size: .5em;
		img: 15%;

		}
}
