* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #F0FFFF;
	color: black;
	font-family: futura, arial, sans-serif;
	font-size:16px;
	text-align: center;
}
section {
	border:2px solid #fff;
	padding:5em 0 5em 0;
}
h1 {
	font-family:'Pinyon Script', cursive;
	font-size: 8em;
}

ul {
	list-style-type: none;
}
li {
	float:right;
}
#Cards img {
	float:left;
	width:33.33%;
}
#slogan {
	font-size: 1.5em;
	color:;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
