* { margin:0; padding:5; box-sizing:border-box; }
header {
	font-family: 'Pinyon Script', cursive;
	
}

body {
	background-color: #000;
	color: white;
	font-family: helvetica, arial, sans-serif;
	text-align: center;
}

nav {}
section {
	border:2px solid #fff;
	padding:5em 0 5em 0;
}
h1 {
	color: ;
	font-family:'Pinyon Script', cursive;;
	font-size: 62px;
}

ul {
	list-style-type: none;
	font-family:helvetica, arial, sans-serif;
	font-size: 1em;
}
#slogan {
	font-family: helvetica, arial, sans-serif;
	font-size: 1.5em;
	color:;
}
