@font-face {
    font-family: 'champignon';
    src: url('../fonts/champignon-webfont.eot');
    src: url('../fonts/champignon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champignon-webfont.woff2') format('woff2'),
         url('../fonts/champignon-webfont.woff') format('woff'),
         url('../fonts/champignon-webfont.ttf') format('truetype'),
         url('../fonts/champignon-webfont.svg#champignonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("../images/river_banner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #F0FFFF;
	color: black;
	font-family: futura, arial, sans-serif;
	font-size:16px;
	text-align: center;
	padding:0, .2em;

}
h1 {
	font-size: 8em;
	font-family: "champignon", serif;
	font-weight: normal;
	text-decoration: small-caps;
	line-height: .5em;
	word-spacing: 1.4%;
	margin-top: .5em;
}

h2 {
	
}

section {
	/* border:2px solid #fff; */
	padding: 2em;

	
}

span {
	color: #FF1654;
}

nav {
	text-align: center;
	float: right;
	margin: 1em;
	padding:.2em;
	border: solid 1px black;
	width: 25%;
}

nav a {
	background-color:#09A8F7;
	font-family: Futura, Arial, sans-serif; 
	font-size: 1em;
	display: block;
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 2%;
	margin: 2%;
}
li {
	text-align: center;
	padding: 2%;
	margin: 2%;
}
a{
	color:black;
	text-decoration: none;
	display: block;
	padding: 2%;
}

#splash img {
	width: 100%;
}

#cards img {
	display: block;
	width: 100%;
	
}

#cards div {
	background-color:#F0F8FF;
	width: 29.333%;
	padding: 2%;
	margin: 2%;
	border: solid 1px black;
	float:left;
}
#logo img {
	width:30%;
	padding: .5%;
	margin: 2%;
	background-color: #736F72;
}
#slogan {
	color: #09A8F7;
	font-size: 2em;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.mainbody {
	width: 70%;
	float: left;

}
footer {
	font-size: 40px;
	background-color: #09A8F7;
	clear: both;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 480px){
	body {
		font-size: .5em;
	}
	

@media only screen and (max-width: 480px) {
body {
		font-size: .5em;
	}
}
